@page
@model Agenciapp.Pages.Offices.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office[0].Agency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Office) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.LegalName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OfficeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OfficeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OfficeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
