@model AgenciappHome.Models.Order

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceLb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceLb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantLb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantLb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorPagado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorPagado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtrosCostos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtrosCostos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorAduanal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorAduanal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.LegalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPago.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
