@model Agenciapp.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceLb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceLb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantLb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantLb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agency.LegalName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Office.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorAduanal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorAduanal.Article)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
